.column {
    float: left;
    width: 18%;
    margin: -5px;
  }

.card img {
    width: 200px;
    height: 130px;
}

.card {
    position: relative;
    width: 220px;
    height: 350px;
    border: none;
    border-radius: 2%;
    background-color: white;
    text-align: center;
    margin: 0 8px 30px 8px;
}

.card h1 {
    color: #0073aa;
    font-size: 18px;
}

.card .divider {
    width: 85%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 12px;
    font-weight: 700;
    color: grey
}

.card:hover {
    background-color: rgb(255, 250, 219);
}

.card button {
    margin-left: 10px;
}

.card button:hover {
    cursor: pointer;
}