.container {
    background-image: url('../../../../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    margin-top: 100px;
    margin-left: 185px;
    width: 87%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
