.container {
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 185px;
    width: 87%;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
