.container {
    position: relative;
    height: 100vh;
  }
  .img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    width: 100%;
    height: 50vw;
  }

  .img.active {
    opacity: 1;
  }
  .firstImg {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.82), 10%, rgba(255, 255, 255, 0)),
    url('../../../images/pizza-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .secondImg {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.82), 15%, rgba(255, 255, 255, 0)),
    url('../../../images/pizza-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .thirdImg {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.82), 15%, rgba(255, 255, 255, 0)),
    url('../../../images/dough.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .lower-container {
    background: url('../../../images/bg.jpg') no-repeat center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
  }

  footer {
    top: 120%;
  }
