.all {
    background: url('../../../images/bg.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.btn-container {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 200px;
}

.btn {
    font-family: inherit;
    position: relative;
    width: 100%;
    padding: 10px 25px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5%;
    margin-bottom: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(43, 43, 43, 0.7);
}