.auth-wrapper {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.82), 15%, rgba(255, 255, 255, 0)),
    url('../../../../images/login-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}