.btn {
    position: relative;
    cursor: pointer;
    margin: 2px;
    top: 90%;
    left: 47%;
    padding: 7px;
    border: none;
    border-radius: 5px;
  }
  
  .btn:focus {
    outline: 0 !important;
  }

  .checked {
    background-color: darkorange;
  }
